[Unit]
Description = Cloudflare tunnel for git-ssh

[Service]
ExecStart = /usr/bin/cloudflared access tcp --hostname git-ssh.maciejurban.dev --url localhost:2222
Restart   = always

[Install]
WantedBy = default.target
